<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="KotlinApiSample" status="error">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="log/log.log" append="false">
            <PatternLayout>
                <Pattern>[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
