<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="KotlinApiSample" status="error">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
